body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.box {
  margin: 50px;
  background-color: rgba(226, 236, 254, 0.938);
  border-radius: 10px;
}

.small-text {
  font-size: 11px;
}

.habit-grid {
  display: grid;
  grid-template-columns: 1fr 100px 75px 100px 75px;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  justify-items: center;
  text-transform: uppercase;
}

.habit-text {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.habit-streaks {
  font-size: 13px;
  text-align: center;
  position:relative;
  
}

.habit-name:hover::after {
  content: attr(data-fulltext);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 4px 8px;
  white-space: normal;
  z-index: 100;
  border-radius: 4px;
  font-size: 0.75rem;
  max-width: 200px;
  text-align: center;
  pointer-events: none;
}

.grid-header {
  font-weight: bold;
  text-align: center;
  color: rgb(92, 124, 204);
  padding-bottom: 8px;
}

.congrats-msg {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(92, 124, 204);
  margin-top: 20px;
}

select {
  border-radius: 8px;
  border-width: 1px;
  margin-inline-start: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 100px;
}

h2 {
  text-align: center;
  color: rgb(92, 124, 204);
}

h3 {
  text-align: justify;
  color: rgb(92, 124, 204);
  padding-left:10px;
}

h4 {
  padding-right: 5px;
  padding-top: 5px;
  font-size: 12px;
  text-align: right;
  font-weight: 300;
}

p {
  margin-left: 30px;
}

input {
  border-radius: 8px;
  border-width: 1px;
  margin-inline-start: 30px;
  margin-bottom: 5px;
  width: 200px;
}

button {
  margin-inline: 5px;
  background-color: #eeeef0;
  border-width: 1px;
  width: 100px;
  height: 20px;
  font-size: 12px;
  border-radius: 7px;  
  background-color: rgba(8, 62, 161, 0.692);
  color: GreenYellow;
  text-transform: uppercase;
  cursor: pointer; 
}

.trash-button {
  background: none;         
  border: none;             
  padding: 0;               
  margin: 0;
  cursor: pointer;          
  font-size: 1.2rem;         
  transition: color 0.2s ease;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.button-group button {
  width: 200px;
  height: 30px;
  font-size: 14px;

}

.main-button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
