body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  color: rgba(92, 124, 204, 0.804);
}

h3 {
  text-align: justify;
  color: rgba(92, 124, 204, 0.728);
  padding-left:10px;
}

h4 {
  padding-right: 5px;
  padding-top: 5px;
  font-size: 12px;
  text-align: right;
  font-weight: 300;
}

p {
  margin-left: 30px;
}
.App {
  text-align: center;
}

.box {
  margin: 50px;
  background-color: rgba(226, 236, 254, 0.938);
  border-radius: 10px;
}

.small-text {
  font-size: 11px;
}

.habit-grid {
  display: grid;
  background-color:rgba(92, 124, 204, 0.315);
  border-radius: 7px; 
  grid-template-columns: 1fr 100px 100px 100px;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  justify-items: center;
  text-transform:capitalize;
  color: rgba(255, 255, 255, 0.973);
  font-weight: bolder;
}

.habit-streak-box {
   display: grid;
  background-color:rgba(92, 124, 204, 0.315);
  border-radius: 7px; 
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  justify-items: center;
  text-transform:capitalize;
  color: rgba(255, 255, 255, 0.973);
}

.habit-text {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align:justify;
  position:relative;
  cursor: pointer;
}

.habit-name:hover::after {
  content: attr(data-fulltext);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 4px 8px;
  white-space: normal;
  z-index: 100;
  border-radius: 4px;
  font-size: 0.75rem;
  max-width: 200px;
  text-align: center;
  pointer-events: none;
}

.grid-header {
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
  color: rgba(92, 124, 204, 0.792);
  padding-bottom: 8px;
}

.congrats-msg {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgba(92, 124, 204, 0.685);
  margin-top: 20px;
}

select {
  border-radius: 8px;
  border-width: 1px;
  margin-inline-start: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 100px;
}

input {
  border-radius: 8px;
  border-width: 1px;
  margin-inline-start: 30px;
  margin-bottom: 5px;
  width: 200px;
}

button {
  margin-inline: 5px;
  background-color: #eeeef0;
  border-width: 1px;
  width: 100px;
  font-size: 12px;
  border-radius: 7px;  
  background-color: rgba(8, 62, 161, 0.502);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  cursor: pointer; 
}

.trash-button {
  background: none;         
  border: none;             
  padding: 0;               
  margin: 0;
  cursor: pointer;          
  font-size: 1.2rem;         
  transition: color 0.2s ease;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.button-group button {
  width: 200px;
  height: 30px;
  font-size: 14px;

}

.main-button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.toggle-switch {
  position: relative;
  width: 50px;
  height: 25px;
  display: inline-block;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(213, 32, 32, 0.553); /* OFF = red */
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-switch label::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Toggle ON */
.toggle-switch input:checked + label {
  background-color: rgb(117, 185, 14);
}

/* Move the knob to the right when ON */
.toggle-switch input:checked + label::before {
  transform: translateX(24px);
}